<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/Home/sb-admin-2.css" />
    <title>Chart Page</title>
</head>
<body>

<a class="btn" style="font-size:xx-large; margin-left:-500px; margin-top:-53px">File main authors per files</a>

<div id="chartContainer"></div>

<div class="container-legend"id="legendContainer"></div>
    
</body>
</html>
<script src="~/js/d3.v7.min.js"></script>
<script src="~/js/HomePage.js"></script>
<script src="~/js/FileMainAuthorsPerFiles.js"></script>