<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/Home/sb-admin-2.css" />
</head>
<body>
    <div class="title">
	    <a class="btn" style="font-size: xx-large;position: fixed;margin-left: -15px;">Hotspots frequency and complexity for specific period</a>
    </div>
<div id="chartContainer"></div>
    <div class="container-legend" style="bottom:50px; top:auto" id="legendContainer"></div>
</body>
</html>
<script src="~/js/d3.v7.min.js"></script>
<script src="~/js/HomePage.js"></script>
<script src="~/js/CreateHotspotsChangeFrequenciesForSpecificPeriod.js"></script>
