<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/Home/sb-admin-2.css" />
</head>
<body>
    <div class="title">
        <h1>Display hotspots frequency and complexity for specific period</h1>
    </div>
    <div id="chartContainer"></div>
</body>
</html>
<script src="~/js/d3.v7.min.js"></script>
<script src="~/js/HomePage.js"></script>
<script src="~/js/CreateHotspotsChangeFrequenciesForSpecificPeriod.js"></script>
