<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart Page</title>
</head>
<body>
<div id="chartContainer"></div>
<script src="~/js/d3.v7.min.js"></script>
<script src="~/js/HomePage.js"></script>
<script src="~/js/CreateHotspotsChangeFrequenciesFromAllTime.js"></script>
</body>
</html>