
@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home Page for History Tracker</title>
</head>

    <body>
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class="links">
                    <li class="testing-active"><a class="btn"> History Tracker - Testing tool</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" name="form">
                    <input type="hidden" id="csvFilePath" value=""/>
                    <label>Enter URL GitHub:</label>
                    <input class="form-styling" type="text" id="githubUrl" placeholder="Enter your URL..."/>
                    <p id="error-message" style="color:red;display:none;">Please enter a valid GitHub URL.</p>
                    <div class="button-container">
                        <input class="btn-testing" type="button" value="Get summary data" onclick="getSummaryData()"/>
                        <input type="button" class="btn-testing" value="Get complexity metrics" onclick="getComplexityMetrics()" />

                        <input id="displayHotspotsFrequencyAndComplexityButton" style="display:none" class="btn-testing" type="button" value="Display hotspots frequency and complexity" onclick="redirectToChartPage()">
                        <div>
                            <label for="startDate">Start Date:</label>
                            <input type="date"  id="startDate" name="startDate" required/>
                        </div>
                        <div>
                            <label for="endDate">End Date:</label>
                            <input type="date" class="btn-testing"  id="endDate" name="endDate" required />
                        </div>
                        <input type="button" value="Get complexity metrics for specific period" class="btn-testing" onclick="getComplexityMetricsForSpecificPeriod()" />
                    </div>
                    <div id="loader" class="loader"></div>
                    <input id="displayHotspotsFrequencyAndComplexityButtonForSpecificPeriod" class="btn-testing" style="display:none " type="button" value="Display hotspots frequency and complexity for specific period" onclick="redirectToChartForSpecificPeriodPage()">
                </form>
            </div>
            <div id="summaryDataContainer">

            </div>
        </div>
    </div>

</body>
</html>

<script src="js/HomePage.js"></script>
<script src="js/d3.v7.min.js"></script>
<link rel="stylesheet" href="css/loader.css" />
<link href="~/css/google.fonts.nunito.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/Home/Home.css" />

@*<link href="~/css/Home/all.min.css" rel="stylesheet" type="text/css">
<link href="~/css/Home/sb-admin-2.css" rel="stylesheet" type="text/css">*@

