
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="text" id="githubUrl"/> 
    <input type="button" value="Get Summary Data" onclick="getData()"/>
    <div id="summaryDataContainer" >
        
    </div>
    <input type="button" value="Get Change Frequencies Of All Modules" onclick="getChangeFrequencies()"/>
    <div id="changeFrequenciesContainer" >
        
    </div>
    <input type="button" value="Get Lines Of Code" onclick="getLinesOfCode()" />
</div>
<script src="js/GetSummaryData.js"></script>