
@{
    ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home Page for History Tracker</title>
</head>
    <body>
    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class="links">
                    <li class="testing-active"><a class="btn"> History Tracker - Testing tool</a></li>
                </ul>
            </div>
            <div ng-app ng-init="checked = false">
                <form class="form-signin" action="" name="form">
	                <input type="hidden" id="csvFilePath" value=""/>
	                <div class="form-label">
		                <label id="urlGit">Enter URL GitHub:</label>
		                <label id="endDateLabel">End Date:</label>
	                </div>
                    <div class="button-container">
	                    <div class="input-container">
		                    <input class="form-styling" type="text" id="githubUrl" placeholder="Enter your URL..."/>
		                    <p id="error-message" style="color:red;display:none;">Please enter a valid GitHub URL.</p>
	                    </div>
                    <div class="input-container">
	                    <input type="date" class="form-styling" style="margin-left:180%"id="endDate" name="endDate" required />
	                    <span id="error-message-for-end-date" style="color: red;display:none;">End date should be greater than first commit date!</span>

                    </div>
                    </div>
	                <div class="button-container">
		                <input class="btn-testing" type="button" value="Get summary data" onclick="getSummaryData()"/>
		                <input type="button" class="btn-testing" value="Get complexity metrics" onclick="getComplexityMetrics()" />
                        <input type="button" class="btn-testing" value="Get Metrics For Power Law" onclick="getMetricsForPowerLaw()" />
		                <input type="button" value="Get complexity metrics for specific period" class="btn-testing" style="margin-left:135px" onclick="getComplexityMetricsForSpecificPeriod()" />

	                </div>
	                <input type="button" value="Get main authors" class="btn-testing" style="margin-top:8px" onclick="getMainAuthorsPerModule()" />
	                <h2>Your option:</h2>
	                <div class="button-containerfordisplay">
	                <div class="button-wrapper">
		                <input id="displayHotspotsFrequencyAndComplexityButton" style="display:none" class="btn-display" type="button" value="Display hotspots frequency and complexity" onclick="redirectToChartPage()">
		                <input id="displayHotspotsFrequencyAndComplexityButtonForSpecificPeriod" class="btn-display" style="display:none " type="button" value="Display hotspots frequency and complexity for specific period" onclick="redirectToChartForSpecificPeriodPage()">
                        <input id="displayFileMainAuthors" class="btn-display" style="display:none " type="button" value="File Main Authors Per File" onclick="redirectToChartForFileMainAuthorsPerFile()">
                        <input id="displayPowerLaw" class="btn-display" style="display:none " type="button" value="Power Law" onclick="redirectToChartForPowerLawPage()">
	                </div>
					</div>
                    <div id="loader" class="loader"></div>
                </form>
            </div>
            <div id="summaryDataContainer">

            </div>
        </div>
    </div>
</body>
</html>

<script src="~/js/HomePage.js"></script>
<script src="js/d3.v7.min.js"></script>
<link rel="stylesheet" href="css/loader.css" />
<link href="~/css/google.fonts.nunito.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/css/Home/Home.css" />